*{
    font-size:100px;
}

h2 {
    color: rgb(0, 255, 234);

    background-color: blue;
}

#para{
    color: cyan;
}

.class1 {
    color: rgb(255, 0, 191);
}

h3, p{
    font-weight: bold;

    border: 2px solid rgb(0, 255, 234);
    /* Solid, dotted, dashed, double, groove, ridged, inset, outset, none*/
}